html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
html, body, .root {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  line-height: 1.5;
}

/* App.js */

.nav-home,
.nav-home:visited,
.nav-category,
.nav-category:visited {
  color: #666;
  width: 200px;
  margin: 10px;
}

.nav-home:hover,
.nav-home:link,
.nav-home:active,
.nav-category:hover,
.nav-category:link,
.nav-category:active {
  color: #333;
  text-decoration: none;
}

.home-readme {
  padding: 10px 0 0 0;
}
