.comment-title,
.comment-author,
.comment-category {
  max-width: calc(100% - 95px);
}

.comment-body {
  white-space: pre;
}

.comment-vote {
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 20px;
  text-align: center;
}

.comment-vote-button {
  margin: 0 10px 0 0 !important;
}

.comment-buttons-left {
  float: left;
}

.comment-buttons-right {
  float: right;
}

.comment-button {
  margin: 5px;
  width: 88px;
}

@media screen and (max-width: 395px) {
  .comment-buttons-left,
  .comment-buttons-right {
    float: none;
  }
}
