.post-title,
.post-author,
.post-category {
  max-width: calc(100% - 95px)
}

.post-vote {
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 20px;
  text-align: center;
}

.post-vote-button {
  margin: 0 10px 0 0 !important;
}

.post-buttons-left {
  float: left;
}

.post-buttons-right {
  float: right;
}

.post-button {
  margin: 5px;
  width: 88px;
}

.post-comment-count {
  float: right;
}

@media screen and (max-width: 395px) {
  .post-buttons-left,
  .post-buttons-right {
    float: none;
  }
}
