.post-title {
  max-width: calc(100% - 95px)
}

.post-author {
  max-width: calc(100% - 95px)
}

.post-vote {
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 20px;
  text-align: center;
}

.post-vote-button {
  margin: 0 10px 0 0 !important;
}

.post-button {
}
